---
layout: default
---

{% include header.html %}
{% include nav.html %}

<!-- Main -->
<div id="main">
  <!-- Introduction -->
    <section id="mission" class="main">
      <div class="spotlight">
        <div class="content">
          <header class="major">
            <h2>Our Mission</h2>
          </header>
          <p>
            To build a platform where students can learn
            beyond the classroom, participate in tech competition, and collaborate 
            in building real projects for the community, together.
          </p>
          <ul class="actions">
            <li><a href="https://forms.gle/f3bCrLkKaBYE4xr17" class="button primary">Join us</a></li>
          </ul>
        </div>
        <span class="image"><img src="images/logo-black-circle.png" alt="" /></span>
      </div>
    </section>

  <!-- First Section -->
    <section id="activities" class="main special">
      <header class="major">
        <h2>Our Activities</h2>
      </header>
      <ul class="features">
        <li>
          <span class="icon solid major style1 fa-chalkboard-teacher"></span>
          <h3>Workshops</h3>
          <p>
            We organise workshops that teach essential skills which may not be taught in your classroom. 
            Learn how to build your own apps and the development tools that is used in the actual industry.
          </p>
        </li>
        <li>
          <span class="icon solid major style3 fa-medal"></span>
          <h3>Competitions</h3>
          <p>
            We participate in competitions such as Hackathons (building apps) and CTFs (hacking) to 
            test our skills and promote our growth.
          </p>
        </li>
        <li>
          <span class="icon solid major style5 fa-code"></span>
          <h3>Projects</h3>
          <p>We collaborate with each other to apply our knowledge by building real projects that can benefits the local community.</p>
        </li>
      </ul>
    </section>

  <!-- Second Section -->
    <section id="achievements" class="main special">
      <header class="major">
        <h2>Our Achievements</h2>
      </header>
      <ul class="features">
        <li>
          <span class="image"><img src="images/apuboh.jpg" width="300" alt="" /></span>
          <h3>APU Battle of Hackers - Rank 9</h3>
          <p>
            We managed to be the finalist and obtained the 9th rank in APU Battle of Hackers CTF (Capture The Flag).
            CTF is a hacking/cybersecurity competition that involves many security fields such as Forensics, Reverse Engineering, 
            Cryptography, and Binary Exploitation.
          </p>
        </li>
        <li>
          <span class="image"><img src="images/iumdisrupt.jpg" width="300" alt="" /></span>
          <h3>iUM Disrupt - 2nd Place</h3>
          <p>
            We won 2nd place in iUM Disrupt Hackathon 2020. Hackathon is a competition where you need to build a solution and pitch it 
            under a limited time (24 Hr). We built a COVID-19 pre-assessment app with appointment system and E-records.
          </p>
        </li>
      </ul>
    </section>

  <!-- Get Started -->
    <section id="cta" class="main special">
      <header class="major">
        <h2>Why Join UTP ADC?</h2>
        <p>If you are passionate about tech and looking to improve your skill, join competitions, or just want to build apps, we are the right platform for you!</p>
      </header>
      <footer class="major">
        <ul class="actions special">
          <li><a href="https://forms.gle/f3bCrLkKaBYE4xr17" target="_blank" class="button primary">Join</a></li>
        </ul>
      </footer>
    </section>
</div>

{% include footer.html %}
    